# Streamlit
.streamlit/secrets.toml

# Virtual environment
.venv

# Jupyter
.ipynb_checkpoints

# Python cache
__pycache__/
*.py[cod]

# Data files (if you don't want to commit large datasets)
data/
*.csv

# Environment variables
.env